CLOUDINARY_CLOUD_NAME=#Your Cloudinary Cloud Name
CLOUDINARY_API_KEY=#Your Cloudinary API Key
CLOUDINARY_API_SECRET=#Your Cloudinary API Secret
CLOUDINARY_UPLOAD_FOLDER=#Your Cloudinary Folder Name

UPLOAD_ENV=#Your actually environment

EXTERNAL_APP_PORT=#Your External application port
INTERNAL_APP_PORT=#Your Internal application port